.footerContainer {
  display: flex;
  gap: var(--spacing-lg);
  justify-content: space-between;
  padding: 0 var(--page-gutter);
  align-items: flex-end;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  flex: 1;
}

.footerMeta {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font: var(--font-body-3);
}

.footerImg {
  display: block;
  flex: 0 0 auto;
  width: clamp(100px, 10vw, 160px);
  height: auto;
  align-self: flex-end;
  filter: drop-shadow(var(--shadow));
}

@media (max-width: 600px) {
  .footerContainer {
    gap: var(--spacing-xs);
  }

  .footerLeft {
    gap: var(--spacing-md);
    padding-bottom: var(--spacing-md);
  }

  .footerImg {
    width: clamp(65px, 18vw, 100px);
  }
}
