@import "tailwindcss";
@import "./variables.css";
@import "./fonts.css";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font: var(--font-bodyStd);
  background-color: var(--col-surface-secondary);
  color: var(--col-text-primary);
}

main {
  flex: 1;
  padding-inline: var(--page-gutter);
  display: flex;
  flex-direction: column;
  gap: var(--section-spacing);
  padding-bottom: var(--section-spacing);
}

h1 {
  font: var(--font-h1);
  text-shadow: var(--shadow);
  text-transform: uppercase;
}

h2 {
  font: var(--font-h2);
}

h3 {
  font: var(--font-h3);
}

h4 {
  font: var(--font-h4);
}

h5 {
  font: var(--font-h5);
}

/* note - add breakpoints for the headers */

@media (max-width: 600px) {
  h1 {
    font: var(--font-h1-mobile);
  }
}
