@import "tailwindcss";
@import "./variables.css";
@import "./fonts.css";

body {
  font: var(--font-bodyStd);
  background-color: var(--col-surface-secondary);
  color: var(--col-text-primary);
}

main {
  padding-inline: var(--page-gutter);
}

h1 {
  font: var(--font-h1);
  text-shadow: var(--shadow);
  text-transform: uppercase;
}

h2 {
  font: var(--font-h2);
}

h3 {
  font: var(--font-h3);
}

h4 {
  font: var(--font-h4);
}

.icon svg {
  fill: var(--col-text-primary);
}

.icon svg * {
  fill: var(--col-text-primary);
}

.icon {
  fill: var(--brand-yellow);
}
