.nav {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1.5rem;
  border-radius: var(--border-radius-full);
}

.logoLink {
  z-index: 10;
}

.logoLink img {
  width: clamp(65px, 4vw, 65px);
}

.rightNav {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  padding: var(--spacing-md) var(--spacing-xl);
  background: var(--col-surface-primary);
  border-radius: var(--border-radius-full);
  font: var(--font-body-1);
  transition: 0.2s ease;
}

.rightNav a:hover {
  transform: scale(1.08);
  cursor: pointer;
  transition: 0.2s ease;
}

.menuButton {
  display: none;
}

@media (max-width: 600px) {
  .navContent {
    background: transparent;
    margin: 0.5rem 1.5rem;
    padding: 0.7rem 0.7rem;
    transition: background-color 0.25s ease;
  }

  .navContentScrolled {
    background: var(--col-surface-primary);
  }

  .logoLink img {
    width: clamp(50px, 4vw, 60px);
  }
  .rightNav {
    display: none;
  }

  .rightNavOpen {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg);
    border-radius: 0;
    z-index: 9;
    transform: scale(1);
    font: var(--font-body-big);
  }

  .menuButton {
    display: flex;
    z-index: 9;
  }

  .burgerIcon {
    position: relative;
    width: 26px;
    height: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .burgerIcon span {
    mix-blend-mode: difference;
    display: block;
    height: 2px;
    width: 100%;
    background: currentColor;
    border-radius: 100px;
    transition:
      transform 0.2s ease,
      opacity 0.2s ease;
  }

  .menuButtonOpen .burgerIcon span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .menuButtonOpen .burgerIcon span:nth-child(2) {
    opacity: 0;
  }
  .menuButtonOpen .burgerIcon span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
