.skillsSection {
  display: grid;
  gap: var(--spacing-lg);
  grid-template-columns: 0.4fr 0.6fr;
}

.skillCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--col-surface-primary);
  border-radius: var(--border-radius);
  padding: var(--spacing-lg);
  gap: var(--spacing-md);
}

.skillsGrid {
  display: grid;
  gap: var(--spacing-md);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: minmax(70px, auto);
}

.skillCard p {
  color: var(--col-text-details);
}

.frontend {
  grid-row: span 5;
}

.backend {
  grid-row: span 4;
}

.databases {
  grid-row: span 2;
}

.uxui {
  grid-row: span 3;
}

.techIcon {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.techIcon:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

.favorabilityStar {
  color: var(--col-graph-3);
  display: inline-block;
  animation: fadeStar 2.3s ease-in-out infinite;
}

@keyframes fadeStar {
  0%,
  100% {
    opacity: 1;
    transform: scale(1.06);
  }

  50% {
    opacity: 0;
    transform: scale(0.94);
  }
}

/* ---------------------------------------------------------- */

@media (max-width: 900px) {
  .skillsSection {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .skillsGrid {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .frontend,
  .uxui,
  .databases,
  .extra {
    grid-row: auto;
  }
}
