:root {
  /* colors */
  --col-text-primary: #fefae0;
  --col-text-secondary: #357677;
  --col-text-tertiary: #f2542d;
  --col-text-invert: #242424;
  --col-text-details: #9f9d8d;

  --col-surface-primary: #121212;
  --col-surface-secondary: #242424;
  --col-surface-tertiary: #3a3737;
  --col-surface-invert: #fefae0;

  --col-graph-1: #357677;
  --col-graph-2: #22434b;
  --col-graph-3: #f2542d;

  --col-success: #63d0a1;
  --col-warning: #ffc806;
  --col-error: #fe9f9f;

  /* shadow */
  --shadow: 15px 15px 4px rgba(0, 0, 0, 0.5);
  --shadow-title: 10px 8px 2px rgba(18, 18, 18, 1);

  /* border */
  --border-radius: 28px;
  --border-radius-full: 100px;

  /* special spacing */
  --page-gutter: 5.5vw;
  --section-spacing: 8vh;

  /* spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --spacing-3xl: 56px;

  /* font sizes */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 18px;
  --text-lg: 24px;
  --text-xl: 32px;
  --text-xxl: 36px;

  /* composite fonts */
  --font-title: 900 200px/1 "GillSansNova"; /* for HELLO */
  --font-h1: 900 36px/1 "GillSansNova"; /* section titles */

  --font-h2: 800 36px "Outfit"; /* heading in hero */
  --font-h3: 700 28px "Outfit"; /* skill card headings */
  --font-h4: 800 24px "Outfit"; /* case studies brief section headings */
  --font-h5: 800 20px "Outfit"; /* case studies brief section headings */

  --font-body-big: 400 20px "Outfit"; /* prj brief details */
  --font-body-1: 400 16px "Outfit";
  --font-bodyStd: 400 14px "Outfit"; /* standard */
  --font-body-3: 400 12px "Outfit";

  --font-button: 700 16px "Outfit";
  --font-label: 500 24px "Outfit"; /* section headings subtitle */
  --font-chip: 500 14px "Outfit"; /* tag */
}
