.projectsSection {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.carouselContainer {
  width: calc(100% + var(--page-gutter));
  padding-right: var(--page-gutter);
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

.carouselCards {
  display: flex;
  gap: var(--spacing-lg);
  width: max-content;
}

/* moving the card width to the list item, so the carousel controls can calculate it more reliably */
.carouselCards li {
  width: 320px;
  scroll-snap-align: start;
}

.card {
  height: 450px;
  border-radius: var(--border-radius);
}

.cardLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* --------------------------------- */

.carouselControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
  cursor: pointer;
}

.paginationPill {
  width: 24px;
  height: 8px;
  border-radius: var(--border-radius-full);
  background-color: var(--col-surface-tertiary);
  cursor: pointer;
  transition:
    width 200ms ease,
    background-color 200ms ease;
}

.paginationPillActive {
  width: 84px;
  background-color: var(--col-graph-3);
}

.carouselButtons {
  color: var(--col-text-details);
  font-size: 24px;
  cursor: pointer;
}
